#login-image{
    /* background-color: aquamarine; */
    background-image: url('../../public/images/Login_background.svg');
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}